.header {
  background-color: #333;
  color: #fff;
  border: 1px solid red;
  flex: 0.25;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;




}


.cart-button {
  display: inline-block;
  background-color: #ff9800;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.cart-button:hover {
  background-color: #f57c00;
}
